[submodule "dynamic_graph_actionlib"]
	path = dynamic_graph_actionlib
	url = git://github.com/stack-of-tasks/dynamic_graph_actionlib.git

[submodule "jrl_dynamics_urdf"]
	path = jrl_dynamics_urdf
	url = https://github.com/francois-keith/jrl_dynamics_urdf
[submodule "sot_pr2"]
	path = sot_pr2
	url = https://github.com/francois-keith/sot_pr2
[submodule "dynamic_graph_bridge"]
	path = dynamic_graph_bridge
	url = https://github.com/francois-keith/dynamic_graph_bridge
