[submodule "dynamic_graph_bridge"]
	path = dynamic_graph_bridge
	url = git://github.com/francois-keith/dynamic_graph_bridge.git
[submodule "sot_pr2"]
	path = sot_pr2
	url = git://github.com/francois-keith/sot_pr2.git
[submodule "dynamic_graph_actionlib"]
	path = dynamic_graph_actionlib
	url = git://github.com/francois-keith/dynamic_graph_actionlib.git
[submodule "dynamic_graph_bridge_msgs"]
	path = dynamic_graph_bridge_msgs
	url = https://github.com/francois-keith/dynamic_graph_bridge_msgs.git
[submodule ".travis"]
	path = .travis
	url = git://github.com/jrl-umi3218/jrl-travis
